body{

    font:50px Arial.sans-serif;
    background-color:#F2F2F2;
    
}
.navbar {

    background-color:#a5a5a5;
}
.quem-somos{

    background-color:#;
   color:black;
   }
 .margin{
     
     padding-bottom:50px;
     padding-top:10px;
     font: 10px;
    }
.paceiros{

    background-color:#a5a5a5 ;
    color:black;
    font: 50px;
         }
    